@import 'common';
@import 'variables/colors';
@import 'animation';

.rcw-launcher {
  @include animation(0, 0.5s, slide-in);
  align-self: flex-end;
  background-color: $white;
  border: 0;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 0px;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

.rcw-open-launcher {
  @include animation(0, 0.5s, rotation-rl);
  width: 40px;
  height: 40px;
}

.rcw-close-launcher {
  @include animation(0, 0.5s, rotation-lr);
  width: 40px;
  height: 40px;
}

@media screen and (max-width: 800px){
  .rcw-launcher {
    @include launcher-fs;
  }

  .rcw-hide-sm {
    display: none;
  }
}
